<?xml version="1.0" encoding="utf-8" ?>
<snowflake>
	<points>
		<standardpoints><![CDATA[1]]></standardpoints>
		<pluspoints><![CDATA[3]]></pluspoints>
		<toppoints><![CDATA[5]]></toppoints>
	</points>
	<data>
		<level>
			<id><![CDATA[1]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[100]]></standard>
			<plus><![CDATA[0]]></plus>
			<top><![CDATA[0]]></top>
			<frequency><![CDATA[1]]></frequency>
			<maxspeed><![CDATA[1]]></maxspeed>
			<pointstobeat><![CDATA[30]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[2]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[96]]></standard>
			<plus><![CDATA[4]]></plus>
			<top><![CDATA[0]]></top>
			<frequency><![CDATA[2]]></frequency>
			<maxspeed><![CDATA[1.3]]></maxspeed>
			<pointstobeat><![CDATA[40]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[3]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[92]]></standard>
			<plus><![CDATA[8]]></plus>
			<top><![CDATA[0]]></top>
			<frequency><![CDATA[3]]></frequency>
			<maxspeed><![CDATA[1.6]]></maxspeed>
			<pointstobeat><![CDATA[50]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[4]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[88]]></standard>
			<plus><![CDATA[10]]></plus>
			<top><![CDATA[2]]></top>
			<frequency><![CDATA[4]]></frequency>
			<maxspeed><![CDATA[1.9]]></maxspeed>
			<pointstobeat><![CDATA[60]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[5]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[84]]></standard>
			<plus><![CDATA[12]]></plus>
			<top><![CDATA[4]]></top>
			<frequency><![CDATA[5]]></frequency>
			<maxspeed><![CDATA[2.2]]></maxspeed>
			<pointstobeat><![CDATA[70]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[6]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[80]]></standard>
			<plus><![CDATA[14]]></plus>
			<top><![CDATA[6]]></top>
			<frequency><![CDATA[6]]></frequency>
			<maxspeed><![CDATA[2.5]]></maxspeed>
			<pointstobeat><![CDATA[80]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[7]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[76]]></standard>
			<plus><![CDATA[16]]></plus>
			<top><![CDATA[8]]></top>
			<frequency><![CDATA[7]]></frequency>
			<maxspeed><![CDATA[2.8]]></maxspeed>
			<pointstobeat><![CDATA[90]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[8]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[72]]></standard>
			<plus><![CDATA[18]]></plus>
			<top><![CDATA[10]]></top>
			<frequency><![CDATA[8]]></frequency>
			<maxspeed><![CDATA[3.1]]></maxspeed>
			<pointstobeat><![CDATA[100]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[9]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[68]]></standard>
			<plus><![CDATA[20]]></plus>
			<top><![CDATA[12]]></top>
			<frequency><![CDATA[9]]></frequency>
			<maxspeed><![CDATA[3.4]]></maxspeed>
			<pointstobeat><![CDATA[110]]></pointstobeat>
		</level>
		<level>
			<id><![CDATA[10]]></id>
			<username><![CDATA[Ganapathi]]></username>
			<standard><![CDATA[64]]></standard>
			<plus><![CDATA[22]]></plus>
			<top><![CDATA[14]]></top>
			<frequency><![CDATA[10]]></frequency>
			<maxspeed><![CDATA[3.7]]></maxspeed>
			<pointstobeat><![CDATA[120]]></pointstobeat>
		</level>
	</data>
</snowflake>